body {
    margin: 0;
   }

#header{
    height:50px;
    background-color: #EAEAEA;
    font-size: 130%;
    color: black;
    font-weight: 900;
    }

    
    
    #sidebar{
        position: fixed;
        width: 200px;
        background-color: #C8FC98;

    }
    #content{
        position: absolute;
        left: 200px;
    }
    #footer{
        line-height:30px;
        height: 30px;
        background-color: black;
        text-align: center;
        Position:fixed;
        Bottom: 0;
        Width: 100%;
         }

    .colortext{
        color: red;
        font-weight: 900;
        font-style: italic;
    }
    .fat{
        font-weight: 900; 
    }
    p{
        margin: 0;
        padding-left: 5px;
        padding-right: 5px;
    }

    A {
        color: yellow;
       }