#main{
    display: flex;
    background-color: aqua;
    border: 2px solid green;
    height: 100%;
}
.div_2 {
    max-height: 70px;
    background-color: bisque;
    width: 25%;
}

.div_3 {
    
    background-color: darkgray;
    width: 75%;
    left: 25%;
    height: 100%;
}
.div_4{
    bottom: 0;
    clear: both;
}
p{
    margin:0;
}
@media screen and (max-width:1115px){

    img {
        width: 200px;
        height: 200px;
    }
    
}